<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form method="GET">
		First Name: <input type="text" name="firstname"><br><br>
		Last Name: <input type="text" name="lastname"><br><br>
		Email: <input type="email" name="email" required><br><br>
		Password: <input type="password" name="password" minlength="1"><br><br>
		Birthday: <input type="date" name="birthdate"><br><br>
		Gender: <br>
		<input type="radio" name="gender" value="male">Male<br>
		<input type="radio" name="gender" value="female">Female<br>
		<input type="radio" name="gender" value="other">Other<br><br>
		Pets:<br>
		<input type="checkbox" name="cat">Cat<br>
		<input type="checkbox" name="dog">Dog<br>
		<input type="checkbox" name="horse">Horse<br><br>
		Car: <br>
		<select name="Car">
			<option value="Volvo" name="volvo">Volvo</option>
			<option value="Audi" name="audi">Audi</option><br>
		</select></br><br>
		<input type="submit" value="Don't you dare click this button!">
		<input type="reset" value="If you type anything in please click this button instead."><br><br>
	</form>
</body>
</html>